@import './components/GamePage';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #2e2e2e;
}


.navbar-nav {
  width: 500px;
  display: flex;
  justify-content: space-between;

    .nav-item {
      width: 160px;
      text-align: center;

      .nav-link {
        background: #666666;
        color: darkorange;
        border-radius: 5px;
      }

    }

}



h1 { 
  color:darkorange;
}

.games-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game {

  border-radius: 5px;
  margin-bottom: 20px;
 

  a {
    text-decoration: none;
    color: orange;
  }

  .card {
    border: 1.5px solid orange;
    overflow: hidden;
    box-shadow: 3px 3px #6a3a00;

    .card-body {
      background: #474747;
      
    }

  }
  
}



